.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #213252;
}

.header {
  flex: 30%;
  background-color: cornflowerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid gainsboro;
  color: #213252;
}

.header button {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
  color: #213252;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  font-size: 20px;
  margin-bottom: 15px;
}

.content {
  width: 80%;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.task button {
  width: 70px;
  border: 2px cornflowerblue solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  color: #213252;
}
